
 *{
  margin: 0;
  text-align: center;
  padding:0;
}

/*-----------------------small device--------------------------------*/

@media only screen and (max-width:1000px){
 
   body{
       background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-and-white-tones-simple-business-wind-starry-sky-background-black-image_86214.jpg");
      /* background-size: cover;
      background-repeat: no-repeat; */

   }
    #page-container {
        display: grid;
        width: 100%;
        height: 180vh;
        grid-template-rows: 10vh 10vh 65vh 85vh 10vh;
        grid-template-columns: 1fr;
        grid-template-areas: " head"
                             "nav "
                             "image"
                             "main"
                             "foot";
        
       
      }
      
      #head{
        grid-area: head;
      color:lightgray;
        text-align: center;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-bottom: 1px solid #fff;
        padding-top: 20px;
      }
      #img__container{
        grid-area: image;
        height:40vh ;
        width: 100%;
       justify-items: center;
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
       
           
    }
      
      #main__nav {
        grid-area: nav;
        
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 20px;
      
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color:rgb(253, 180, 193);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    li a:hover {
      background-color:   rgb(248, 210, 243);
             color: rgb(248, 97, 135);
    }
     
    
          
     
      
      #main__container {
        grid-area: main;
        margin-left: 10px;
       padding-left: 10px;
      }
  
      div > p{
        font-size: 35px;
        text-align: center;
        color: rgb(250, 127, 189);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      div > p1 {
        font-size: 25px;
        color:whitesmoke
      } 
      a{
        display: block;
        color: whitesmoke;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
      }
      div > form > textarea{
        width: 200px;
        height: 100px;
        background: white;
        display: block;
       margin-left: auto;
       margin-right: auto;
      }
      div > form > input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
      #foot {
        grid-area: foot;
       text-align: center;
       color: whitesmoke;
       font-size: 20px;
       border-top: 1px solid #fff;
       padding-top: 15px;

      }
      
    }
 

/*-----------------------tablet device--------------------------------*/

@media only screen and (min-width:1001px){
  body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-and-white-tones-simple-business-wind-starry-sky-background-black-image_86214.jpg");
   

}
 
body{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-and-white-tones-simple-business-wind-starry-sky-background-black-image_86214.jpg");
  background-size: cover;
      background-repeat: no-repeat;

}
#page-container {
   display: grid;
   width: 100%;
   height: 170vh;
   grid-template-rows: 10vh 10vh 65vh 75vh 10vh;
   grid-template-columns: 1fr;
   grid-template-areas: " head"
                        "nav "
                        "image"
                        "main"
                        "foot";
   
  
 }
 
 #head{
   grid-area: head;
 color:lightgray;
   text-align: center;
   font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-bottom: 1px solid #fff;
   padding-top: 20px;
 }
 #img__container{
   grid-area: image;
   height:40vh ;
   width: 100%;
  justify-items: center;
   /* display: block; */
   margin-left: auto;
   margin-right: auto;
  
      
}
 
 #main__nav {
   grid-area: nav;
   
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 font-size: 20px;
 text-align: center;
 display: flex;
}



li a {
 display: block;
 color:rgb(253, 180, 193);
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a:hover {
 background-color:   rgb(248, 210, 243);
        color: rgb(248, 97, 135);
}


     

 
 #main__container {
   grid-area: main;
   margin-left: 10px;
  padding-left: 10px;
 }

 div > p{
   font-size: 35px;
   text-align: center;
   color: rgb(250, 127, 189);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 div > p1 {
   font-size: 25px;
   color:whitesmoke
 } 
 a{
   display: block;
   color: whitesmoke;
   padding: 8px 16px;
   text-decoration: none;
   text-align: center;
   font-size: 20px;
 }
 div > form > textarea{
   width: 200px;
   height: 100px;
   background: white;
   display: block;
  margin-left: auto;
  margin-right: auto;
 }
 div > form > input{
   display: block;
   margin-left: auto;
   margin-right: auto;
   }

 #foot {
   grid-area: foot;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  border-top: 1px solid #fff;
  

 }
  }
  
/*-----------------------large device--------------------------------*/

@media only screen and (min-width:2000px){
 
  body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-and-white-tones-simple-business-wind-starry-sky-background-black-image_86214.jpg");
   

}
 #page-container {
     display: grid;
     width: 100%;
     height: 170vh;
     grid-template-rows: 10vh 10vh 65vh 75vh 10vh;
     grid-template-columns: 1fr;
     grid-template-areas: " head"
                          "nav "
                          "image"
                          "main"
                          "foot";
     
    
   }
   
   #head{
     grid-area: head;
   color:lightgray;
     text-align: center;
     font-size: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border-bottom: 1px solid #fff;
     padding-top: 20px;
   }
   #img__container{
     grid-area: image;
     height:40vh ;
     width: 100%;
    justify-items: center;
     /* display: block; */
     margin-left: auto;
     margin-right: auto;
    
        
 }
   
   #main__nav {
     grid-area: nav;
     
 }
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-size: 20px;
   
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color:rgb(253, 180, 193);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 li a:hover {
   background-color:   rgb(248, 210, 243);
          color: rgb(248, 97, 135);
 }
  
 
       
  
   
   #main__container {
     grid-area: main;
     margin-left: 10px;
    padding-left: 10px;
   }

   div > p{
     font-size: 35px;
     text-align: center;
     color: rgb(250, 127, 189);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
   div > p1 {
     font-size: 25px;
     color:whitesmoke
   } 
   a{
     display: block;
     color: whitesmoke;
     padding: 8px 16px;
     text-decoration: none;
     text-align: center;
     font-size: 20px;
   }
   input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  .label {
    color: whitesmoke;
    font-size: 10px;

  }
  .f-name{
    background: rgb(248, 160, 175);
  }
  .l-name{
   background: rgb(248, 160, 175); 
  }
  
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
   div > form > textarea{
     width: 200px;
     height: 100px;
     background: white;
     display: block;
    margin-left: auto;
    margin-right: auto;
   }
   div > form > input{
     display: block;
     margin-left: auto;
     margin-right: auto;
     }
 
   #foot {
     grid-area: foot;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    border-top: 1px solid #fff;
    

   }
} 

